@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F0F0F0;
}

.my-content {
    margin-left: 320px;
}

.container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 100vh;
    height: 312px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 8px -4px lightblue;
    background: #fff;

}


.text_list_berita{
    display: -webkit-box;
    height: 3.6em; 
    line-height: 1.3em;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 760px) {
    .my-content {
        margin-left: 250px;
    }
}
