.list-group-item:hover,
.list-group-item:focus {
    background: rgba(24, 32, 23, 0.37);
    cursor: pointer;
}

.profileimg {
    height: 50px;
    width: 50px;
}

.list-user {
    height: 80vh !important;
    overflow-y: scroll;
}

.chat-box {
    height: 72vh !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat {
    background: #f1f0f0;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.balasan {
    margin-right: auto !important;
}

.terkirim {
    margin-left: auto !important;
    background: #3490dc;
    color: white !important;
}

.terkirim small {
    color: white !important;
}

.click:hover {
    list-style: none !important;
    text-decoration: none;
}

.online-icon {
    font-size: 11px !important;
}

