@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F0F0F0;
}

.my-content{
    margin-left: 320px;
}

.container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 100vh;
    height: 312px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 8px -4px lightblue;
    background:#fff;

}

/* untuk profile */
.profile {
    padding: 30px;
    height: 312px;
    text-align: center;
}

.profile h4{
    font-weight: 500;
    color: #404040;
    font-size: 30px;
}

.nis{
    font-weight: 400;
    color: #CEBCBC;
}

/* untuk finansial sebagian */
.finansial_sebagian{
    padding: 30px;
    height: 312px;
}

.finansial_sebagian p {
    font-weight: 600;
}

.finansial_sebagian p a {
    text-decoration: none;
    color: #A79494;
    font-weight: 400;
}

