@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

.berita {
    padding-top: 20px;
}

.gambar{
    width: 100%;
    height: 2%;
    border-radius: 20px;
}

.judulBerita{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.tanggal{
    color: #c99c9c;
    font-weight: 200;
    text-align: center;
    font-size: 15px;
}

.ucapanAwal {
    font-weight: 400;
}

.terimakasih {
    margin-top: 80px;
}