
/*  ============ */
/* untuk profile */
.profile {
    padding: 30px;
    height: 312px;
    text-align: center;
}

.profile h4 {
    font-weight: 500;
    color: #404040;
    font-size: 30px;
}

/* =========== */
/* untuk finansial sebagian */
.finansial_sebagian {
    padding: 30px;
    height: 312px;
}

.finansial_sebagian p {
    font-weight: 600;
}

.finansial_sebagian p a {
    text-decoration: none;
    color: #A79494;
    font-weight: 400;
}

/* ====== */
/* bagian berita */
.bagianberitas{
    height: auto;
    width: 95%;
}

.title_berita{
    font-weight: 600;
}

.listberita{
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.limit_berita_text{
    display: -webkit-box;
    height: 3.6em; 
    line-height: 1.3em;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

  