@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

.content{
    text-align: center;
    margin-top: 50px;
}

.judul {
    font-weight: 600;
    font-size: 30px;
}

.note p {
    font-size: 15px;
    margin-top: 10px;
}